<!-- templates/home.html -->
{% extends 'base.html' %}
{% load greaterthan %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!

  <p><a href="/create_new_budget">Create new budget</a></p>

<table>
  <th>Budget name</th>
  <th>Max Amount</th>
  <th>Current Amount</th>
  <th>Amount Left</th>
{% for key, budget in budgetDict.items %}
    <tr>
      <td><p>{{ budget.budget_name }}</p></td>
      <td><p>${{ budget.max_amount|stringformat:".2f" }}</p></td>
      <td><p>${{ budget.current_amount|stringformat:".2f" }}</p></td>
      {% if budget.amount_left|gt:0 %}
      <td style="color:green;">
      {% else %}
      <td style="color:red;">
      {% endif %}
      <p>${{budget.amount_left|stringformat:".2f" }}</p></td>
      <td><form action="/add_to_current_amount/{{budget.budget_id}}">
        <input type="submit" value="Add to current amount spent"></form></td>
        <td><form action="/delete_budget/" method="post">
          {% csrf_token %}
          <input type="hidden" name="budget_id" value="{{budget.budget_id}}">
          <input type="submit" value="Delete budget" onclick="confirm('Are you sure you want to delete budget {{budget.budget_name}}?');"></form></td>
    </tr>
{% endfor %}
</table>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
